<div class="card form-create-employee">
  <div class="card-body">

    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Nombre</label>
        <input type="text" class="form-control" formControlName="employee_name" #employee_name />
      </div>

      <div *ngIf="angForm.controls['employee_name'].invalid && (angForm.controls['employee_name'].dirty || angForm.controls['employee_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['employee_name'].errors.required">
          Nombre requerido.
        </div>
      </div>

      <div class="form-row">
      <div class="form-group col-6">
        <label class="col-md-4">Salario</label>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">USD</div>
            </div>
            <input type="text" class="form-control" formControlName="employee_salary" #employee_salary />
        </div>
      </div>

      <div class="form-group col-6">
        <label class="col-md-4">Edad</label>
        <input type="text" class="form-control" formControlName="employee_age" #employee_age />
      </div>
    </div>

     <div *ngIf="angForm.controls['employee_salary'].invalid && (angForm.controls['employee_salary'].dirty || angForm.controls['employee_salary'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['employee_salary'].errors.required">
          Salario requerido.
        </div>
      </div>
      <div *ngIf="angForm.controls['employee_age'].invalid && (angForm.controls['employee_age'].dirty || angForm.controls['employee_age'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['employee_age'].errors.required">
          Edad requerido.
        </div>
      </div>

      <div class="form-group">
        <button (click)="addEmployee(employee_name.value, employee_salary.value, employee_age.value)"
            [disabled]="angForm.pristine || angForm.invalid" 
            class="btn btn-primary">
            AGREGAR EMPLEADO
         </button>
    </div>

    </form>
  </div>
</div>
