.form-update-employee{
    width: 60%;
    margin-left: 30%;
    margin-top: 5%;
    align-self: center

    
}

.card-update-employee{
    align-content: center;
    justify-content: center;
    align-items: center
}