.employees{
    margin-left: 25%;
    width: 60%;
    top: 10
}

.thead-employees{
    background: #808080;  
    background: -webkit-linear-gradient(to right, #3fada8, #808080); 
    background: linear-gradient(to right, #3fada8, #808080); 
}

