
<div class="employees">
  <table #dataTable class="display table table-hover" style="width:100%">
    <thead class="thead-employees">
        <tr>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Salario</th>
            <th>Edad</th>
            <th>Acciones</th>

        </tr>
    </thead >
    <tbody>

        <tr *ngFor="let employee of employees">
            <td>{{employee.profile_image}}</td>
            <td>{{employee.employee_name}}</td>
            <td>USD ${{employee.employee_salary}}</td>
            <td>{{employee.employee_age}}</td>
            <td>
                <a [routerLink]="['actualizar-informacion/', employee.id]" class="btn btn-primary">Modificar</a>
                <a (click) = "deleteEmployee(employee.id)" class="btn btn-danger">Borrar</a>
            </td>
        </tr>

    </tbody>
    <!-- <tfoot>
        <tr>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Salario</th>
            <th>Edad</th>
            <th>Acciones</th>
        </tr>
    </tfoot> -->
</table>
</div>

<router-outlet></router-outlet>
